.adminPortal
{
    /* border: 2px solid; */
    height: 100vh;
    font-family: cursive;
    /* display: flex;
    justify-content: space-around; */
    /* background-color: rgb(195, 103, 103); */
}
.adminHome,.booklist,.addbooks,.addusers,.userlist,.adminProfile
{
    border: 2px solid;
    position: absolute;
    left: 280px;
    height: 100vh;
    width:75%;
}